body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #ccc;
}

.sidebar {
    width: 20%;
    background-color: #333;
    padding: 20px;
    color: white;
    position: fixed; /* Fixa a barra lateral */
    height: 100%; /* Faz com que a barra lateral ocupe 100% da altura da tela */
    overflow-y: auto; /* Adiciona uma barra de rolagem quando há muitos itens na barra lateral */
}

.sidebarDireira {
    margin-left: 20%; /* Adiciona um espaço à esquerda equivalente à largura da barra lateral */
    width: 80%; /* O conteúdo ocupa 80% da largura total */
    height: 100vh;
    padding-top: 30px;
    background-color: #f5f5f5;
    overflow-y: auto;
}

.user-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 5px;
}

.user-card h4 {
    margin-bottom: 10px;
    color: #333;
}

.user-card p {
    margin: 0;
    color: #777;
}

.sidebarDireira h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

/* Estilizando as cores pode variar dependendo do seu esquema de cores */




.content {
    flex: 1;
    padding: 20px;
}

.tab {
    display: none;
}

.center {
    width: 100%;
    text-align: center;
}

.center h2 {
    margin-top: -13px;
    font-size: 24px; /* Adjust the font size */
    text-align: center; /* Center-align the text */
}

.center img {
    width: 150px;
}

/* ... (your existing CSS rules) ... */

#list label {
    color: #3498db; /* Change the color to a more appealing one, e.g., a shade of blue */
    font-size: 18px; /* Adjust the font size */
    margin-bottom: 5px; /* Add some spacing between labels */
    display: block; /* Ensure labels are displayed as blocks */
    font-weight: bold; /* Make the label text bold */
}

#list ul {
    padding-left: 15px; 
}


#list li {
    margin-bottom: 8px; /* Add some spacing between list items */
}

#list a {
    text-decoration: none;
    display: block;
    padding: 8px 0;
    color: #ecf0f1; /* Text color for list items */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#list a:hover {
    background-color: #2c3e50; /* Background color on hover */
    color: #ffffff; /* Text color on hover */
}

.botao-banir {
    margin-top: 20px;
    background-color: #e74c3c; /* Vermelho */
    color: #fff; /* Texto branco */
    padding: 8px 16px; /* Adapte o preenchimento conforme necessário */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-banir:hover {
    background-color: #c0392b; /* Tom mais escuro de vermelho no hover */
}

